html, body {
    min-width: 400px;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.nav-item{
    position: static;
}

.main-header {
    background: #000;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -ms-transition: transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    display: block;
    position: relative;
}

.main-header .main-header-inner {
    align-items: center;
    height: 80px;
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.main-nav {
    align-items: center;
    color: #fff;
    font-family: "groteskblack",sans-serif;
    padding: 0 0 0 30px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.main-nav a:first-child {
    width: 250px;
}

.main-nav a {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none !important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border: 0;
}

.main-nav a img.mobile {
    display: none;
}

.side-nav{
    align-items: center;
    color: #fff;
    font-family: "groteskblack",sans-serif;
    padding: 0 0 0 30px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.side-nav a{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none !important;
}

.container {
    background-color: black;
    padding: 60px 0 30px;
    text-align: center;
    max-width: 1676px;
    width: 100%;
}

.container h2 {
    font-size: 2.85714em;
    margin-bottom: 70px;
}

h2.chunk{
    margin-bottom: 15px;
    padding: 0;
    position: relative;
    color: white;
}

.container hr{
    background-color: grey;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container iframe{
    margin-bottom: 15px;
    padding: 0;
    position: relative;
}

.container .row{
    margin-top: 20px;
    margin-left: 440px;
    margin-right: 440px;
}

.container .row .card{
    width: 250px;
    height: 110px;
}

.container .row .card .card-img-top{
    vertical-align: middle;
}

.container .row .card img{
    vertical-align: middle;
    text-align: center;
    margin-top: auto;
    margin-right: auto;
}

/* --------------------------------------- */

.main-footer {
    background: #000;
    text-align: center;
}

.row a{
    text-align: center;
    margin: 25px;
    color: white;
}

.fa-facebook:hover,
.fa-facebook:active{
    color: #4267B2;
}

.fa-twitter:hover,
.fa-twitter:active{
    color: #1DA1F2;
}

.fa-instagram:hover,
.fa-instagram:active{
    color: #E1306C;
}

.fa-youtube:hover,
.fa-youtube:active{
    color: #FF0000;
}

.footer-colophon {
    background: black;
    color: rgba(255,255,255,0.35);
    font-family: "groteskblack",sans-serif;
    font-size: 18px;
}

.footer-colophon a {
    color: rgba(255,255,255,0.35);
    text-decoration: none !important;
}

.footer-colophon a:hover {
    color: white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #ffc107;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
  
#myBtn:hover {
    color: #ffc107;
}